<li>
    {{description}}

    {{#each tags}}
    <button class="tag btn-small" data-id="{{id}}"> {{this.name}}

    </button>
    {{/each}}

    <button class="edit-entry btn-small" data-id="{{this.id}}">EDIT/UPDATE</button>
    <button class="delete-entry btn-small" data-id="{{this.id}}"><i class="material-icons">cancel</i></button>
</li>