<li>
    <div class="row">
        <h5>{{title}}</h5>
    </div>
    <div class="row">
        <div class="col s10 entryDescription">
            {{description}}
        </div>
        <div class="col s2">
            {{!-- <button class="edit-entry btn-small" data-id="{{this.id}}">EDIT/UPDATE</button> --}}
            <button class="delete-entry btn-small" data-id="{{this.id}}"><i class="material-icons">cancel</i></button>
        </div>
    </div>
    {{!-- <div class="row"> --}}
    {{#each tags}}
    <div class="chip tag" data-id="{{id}}"> {{this.name}}
        <i class="close material-icons">close</i>
    </div>
    {{/each}}
    {{!-- </div> --}}
</li>